.main-container{
    display: flex;
    margin-top: 20px;
}

.lateral_navbar{
    display: none;
}

.show{
    display: block;
    z-index: 1;
    position: absolute;
    background-color: white;
    left: 0;
    padding: 10px 10px 10px 20px;
    height: calc(100vh - 80px);
}

@media (min-width: 768px){
    .lateral_navbar{
        display: block;
        position: relative;
    }
}
